@model HomeViewModel


<h2>Favorite merch: </h2>
<div class="row mt-5 mb-2">
    @{
        foreach (Merch merch in Model.favMerches)
        {
            @Html.Partial("AllMerches", merch)

        }
    }
</div>

