@model CartViewModel

<div class="container">
    @foreach(var el in Model.cart.listItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Product: </b> @el.itemMerch.name<br />
            <b>Price: </b> @el.itemMerch.price.ToString("c")

        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Pay</a>

</div>
